@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@300;400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans JP", sans-serif;
}

.border-blue {
  border: 1px solid #3d5afe;
}

.min-mr-18-12 {
  min-width: 18rem;
  margin-right: -12rem;
}
